*,
*::after,
*::before {
   box-sizing: border-box;
}

:root {
   --soft-red: hsl(7, 99%, 70%);
   --yellow: hsl(51, 100%, 49%);
   --dark-desaturated-cyan: hsl(167, 40%, 24%);
   /* graphic design text */
   --dark-blue: hsl(198, 62%, 26%);
   /* photography text */
   --dark-moderate-cyan: hsl(168, 34%, 41%);
   /* footer */

   --very-dark-desaturated-blue: hsl(212, 27%, 19%);
   --very-dark-grayish-blue: hsl(213, 9%, 39%);
   --dark-grayish-blue: hsl(232, 10%, 55%);
   --grayish-blue: hsl(210, 4%, 67%);
   --white: hsl(0, 0%, 100%);

   --font-family: 'Barlow',
      sans-serif;
   --font-family-titles: 'Fraunces',
      serif;
}

html,
body {
   min-height: 100vh;
}

@media (min-width: 768px) {
   html {
      scroll-behavior: smooth;
   }
}


body {
   margin: 0;
   font-size: 18px;
   font-family: var(--font-family);
   color: var(--dark-grayish-blue)
}

img {
   max-width: 100%;
   display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   margin-top: 0;
}

p {
   line-height: 1.5;
}

.container-90 {
   position: relative;
   width: 100%;
   max-width: 90%;
   margin-inline: auto;
   background-color: transparent;
}

/*todo Header */

.header {
   min-height: 80vh;
   background-image: url(./images/mobile/image-header.jpg);
   background-position: center bottom;
   background-size: cover;
   background-repeat: no-repeat;
}

@media (min-width:768px) {
   .header {
      background-image: url(./images/desktop/image-header.jpg);
   }
}

.nav-container {
   padding-block: 1.5em;
   display: flex;
   align-items: center;
   justify-content: space-between;
   background-color: transparent;
}

.nav__list {
   z-index: 1;
   position: fixed;
   top: 5em;
   left: 50%;
   transform: translateX(-50%);
   width: 90%;
   padding: 2em 0;
   background-color: white;
   filter: drop-shadow(0 0 3px hsl(0, 0%, 0%, .1));
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 0.5em;

   opacity: 0;
   visibility: hidden;
   pointer-events: none;
   transition: opacity 0.3s ease, visibility .3s ease;
}

.nav__list::after {
   content: "";
   position: absolute;
   top: -2rem;
   right: 0;
   border-left: 2rem solid transparent;
   border-right: 0 solid transparent;
   border-bottom: 2rem solid var(--white);
}

.nav__list.menu-visible {
   opacity: 1;
   visibility: visible;
   pointer-events: auto;
}

.nav__item {
   list-style: none;
   text-align: center;
   background-color: transparent;
}

.nav__link {
   width: 9rem;
   height: 3rem;
   border-radius: 2em;
   text-decoration: none;
   background-color: transparent;
   color: var(--dark-grayish-blue);
   transition: all .2s ease;
   display: flex;
   align-items: center;
   justify-content: center;
}

.nav__link:hover,
.nav__link--active {
   text-transform: uppercase;
   font-family: var(--font-family-titles);
   font-size: .9rem;
   background-color: var(--yellow);
   color: var(--very-dark-desaturated-blue);
}

.hamburguer-icon {
   z-index: 2;
   position: fixed;
   top: 1.5em;
   right: 5%;
   cursor: pointer;
   filter: drop-shadow(0 0 1px hsl(0, 0%, 0%,.5));
   opacity: 1;
   transition: opacity .2s
}

.hamburguer-icon:is(:active, :hover) {
   opacity: .7;
}

.header__title {
   margin-top: 1em;
   font-family: var(--font-family-titles);
   text-transform: uppercase;
   text-align: center;
   font-size: 2.5rem;
   color: var(--white);
}

.header__arrow-down {
   margin-inline: auto;
   display: block;
}

@media (min-width:767px) {
   .hamburguer-icon {
      display: none;
   }

   .nav-container {
      padding-block: 1em;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: transparent;
   }

   .logo {
      background-color: transparent;
   }

   .nav {
      background-color: transparent;
   }

   .nav__list {
      position: static;
      width: auto;
      margin: 0;
      padding: 0;
      flex-direction: row;
      gap: .25em;
      transform: none;
      background-color: transparent;

      opacity: 1;
      visibility: visible;
      pointer-events: auto;
      transition: none;
   }

   .nav__list::after {
      display: none;
   }

   .nav__item {
      padding-block: 0;
      list-style: none;
      background-color: transparent;
   }

   .nav__link {
      width: 7rem;
      height: 3rem;
      line-height: 3rem;
      text-decoration: none;
      background-color: transparent;
      color: var(--white)
   }

   .nav__link:hover {
      text-transform: uppercase;
      font-family: var(--font-family-titles);
      font-size: .9rem;
      background-color: hsl(0, 0%, 100%, .2);
      color: var(--white);
   }

   .nav__link--active {
      background-color: var(--white);
      color: var(--dark-grayish-blue);
   }

   .header__title {
      font-family: var(--font-family-titles);
      text-transform: uppercase;
      font-size: 3rem;
   }
}

/*todo Services */

.services {
   display: grid;
}

.services__img {
   background-color: black;
   width: 100%;
   object-fit: cover;
}

.services__article {
   background-color: var(--white);
   text-align: center;
   padding-block: 3em;
   display: flex;
   align-items: center;
}

.container-90--article {
   max-width: 32ch;
}

.services__title {
   margin-top: 0;
   font-family: var(--font-family-titles);
   font-weight: 900;
   font-size: 2rem;
   color: var(--very-dark-desaturated-blue)
}

.services__link {
   display: block;
   margin-top: 1.5em;
   text-transform: uppercase;
   font-family: var(--font-family-titles);
   color: var(--very-dark-desaturated-blue);
   text-decoration-thickness: 2px;
   text-decoration-style: wavy;
   text-decoration-color: var(--yellow);
   opacity: .8;
   transition: opacity .2s;
}

.services__link--pink {
   text-decoration-color: var(--soft-red);
   opacity: .85;
   transition: opacity .2s;
}

.services__link:is(:hover, :active) {
   opacity: 1;
}

@media (min-width:768px) {
   .services {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas:
         'article1 img1'
         'img2 article2';
   }

   .services__article {
      text-align: left;
   }

   .services__article--1 {
      grid-area: article1;
   }

   .services__article--2 {
      grid-area: article2;
   }

   .services__img {
      height: 100%;
      object-fit: cover;
   }

   .services__img--1 {
      grid-area: img1;
   }

   .services__img--2 {
      grid-area: img2;
   }
}

/*todo Design */

.design__article {
   position: relative;
   text-align: center;
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: 1fr 1fr;
}

.design__img {
   width: 100%;
   grid-column: 1/2;
   grid-row: 1/3;
   height: 100%;
   object-fit: cover;
}

.design__textos {
   grid-column: 1/2;
   grid-row: 2/3;
   max-width: 32ch;
   margin: auto;
   color: var(--dark-desaturated-cyan);
}

.design__textos--blue {
   color: var(--dark-blue);
}

.design__title {
   margin-top: 1em;
   font-family: var(--font-family-titles);
   font-weight: 900;
   font-size: 1.5rem;
}

.design__paragraph {
   margin-bottom: 2em;
}

@media (min-width: 768px) {
   .design {
      display: grid;
      grid-template-columns: 1fr 1fr;
   }
}

/*todo Testimonials */

.testimonials {
   text-align: center;
   background-color: var(--white);
   padding-block: 5em 3em;
}

.testimonials__title {
   text-transform: uppercase;
   font-family: var(--font-family-titles);
   color: var(--grayish-blue);
}

.testimonial__article {
   padding-block: 2em;
}

.testimonial__img {
   margin-inline: auto;
   border-radius: 50%;
}

.testimonials__paragraph {
   max-width: 32ch;
   margin-block: 2em;
   margin-inline: auto;
}

.testimonial__name {
   margin-bottom: 0;
   font-family: var(--font-family-titles);
   color: var(--very-dark-desaturated-blue)
}

.testimonial__position {
   color: var(--grayish-blue);
}

@media (min-width:768px) {
   .testimonial__grid {
      display: flex;
      justify-content: center;
      gap: 1em;
   }
}

/*todo Projects */

.projects__grid {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
}

.projects__img {
   width: 100%;
}

@media (min-width: 768px) {
   .projects__grid {
      grid-template-columns: repeat(4, 1fr);
   }
}

/*todo Footer */

.footer {
   padding-block: 3.5em;
   background-color: hsl(168, 34%, 65%);
   text-align: center;
   color: var(--dark-moderate-cyan)
}

.logo--footer {
   display: block;
   margin-inline: auto;
}

.footer__list {
   padding: 0;
   margin: 0;
   margin-top: 2em;
   list-style: none;
   display: flex;
   justify-content: center;
   gap: 2.5em;
}

.footer__link {
   text-decoration: none;
   color: inherit;
   transition: color .2s ease;
}

.footer__link:is(:active, :hover) {
   color: var(--white);
}

.footer__icon path {
   transition: fill .2s ease;
}

.footer__icon path:is(:active, :hover) {
   fill: var(--white)
}

.footer__list--icons {
   margin-top: 4em;
   gap: 1.5em
}

/*todo Footer */

.attribution {
   padding-block: 2em;
   text-align: center;
   background-color: var(--dark-desaturated-cyan);
   color: hsl(168, 34%, 65%)
}

.attribution a {
   color: var(--white);
}